<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ankh.Pusher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ankh.Pusher.Properties.Settings>
            <setting name="Pusher_Srv_PusherSrv" serializeAs="String">
                <value>http://www.goldshowing.com/srv/pushersrv.asmx</value>
            </setting>
        </Ankh.Pusher.Properties.Settings>
    </applicationSettings>
</configuration>